# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
env/
venv/

# Logs
*.log

# Conversaciones locales
backend/conversations.json

# Node
node_modules/
dist/
build/
.vite/
.cache/

# Archivos de sistema
.DS_Store
Thumbs.db
