* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

:root {
  --bg: #1e1e1e;
  --panel: #2a2a2a;
  --panel-2: #222;
  --text: #f2f2f2;
  --muted: #bdbdbd;
  --primary: #a3a3a3;
  --primary-600: #d4d4d4;
  --success: #a3a3a3;
  --success-600: #d4d4d4;
  --danger: #ff5b5b;
  --bubble-user: #2a2a2a;
  --bubble-bot: #1e1e1e;
}

body.light-theme {
  --bg: #f5f5f5;
  --panel: #ffffff;
  --panel-2: #eaeaea;
  --text: #1e1e1e;
  --muted: #555;
  --primary: #444;
  --primary-600: #000;
  --success: #444;
  --success-600: #000;
  --danger: #d33;
  --bubble-user: #d9eaff;
  --bubble-bot: #f0f0f0;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
}